$main-size: 1200px;
$dark-grey: #2e2e2e;
$almost-white: #e0e0e0;
$fun-green: #0fc907;

@font-face {
  font-family: "Futura Condensed";
  src:
    local("Futura Condensed"),
    url("/assets/fonts/futuramediumcondensedbt.ttf") format("TrueType"),

}

h2 {
	text-transform:uppercase;
	margin: 10px 0px 5px 0px;
}

h2.sec-title{
	    text-shadow: 1px 1px $fun-green;
}

a, .clickable {
	color: $dark-grey;
	text-decoration:underline;
	text-decoration-color: $fun-green;
	cursor: pointer;
	transition-property: color;
  	transition-duration: 0.5s;
  	transition-delay: 0s;
}

h3 {
	font-weight: 900;
	margin: 5px 0px;
}

a:visited{
	color: $dark-grey
}

a:hover, .clickable:hover{
	color: $almost-white;
}

header, body, .content {
	margin:0;
	padding:0;
	width:100%;
	color: $dark-grey;
	font-family: "Futura Condensed";
}

#left-line, #right-line{
	 stroke:$fun-green;
	 stroke-width:2; 
	 -webkit-stroke:$fun-green;
	 -webkit-stroke-width:2;
	 fill:none;
	 -webkit-fill:none;
	
}

/* .content {
	background-image: url("../images/lzs_07_2x.jpg");
	color:$dark-grey;
}*/

body {
//display: none;
	//background-color:$dark-grey;
}

header h1 {
	font-size:48px;
  display: inline;
  margin:0px;
}

header {
	padding-top: 100px;
	//border-bottom: 15px solid $dark-grey;
}

header a, header a:visited {
	text-decoration:none;
	color: $dark-grey;
}

#cuteline {
	position: absolute;
	z-index: -4;
	top: 0px;
}

#title-container {
	max-width: $main-size;
    margin: 0 auto;
    padding-left: 100px;
}

nav{
/*    position: relative;
    top: 15px;*/
	font-size:30px;
	text-decoration:none;
   // height: 50px;
    margin: 0 auto;
    max-width: 400px;
    text-align: right;
}

nav a{
	text-decoration:none;
    padding: 0 0px;
    margin: 0 20px;
}

.content-sec {
    font-size: 25px;
    font-weight: 300;
	position: relative;

    padding: 5px 0px;
    padding-top: 100px;
    max-width: 100%;
	margin: 0 auto;
}

.content-sec.sec-crr{
	color: $dark-grey;
}

.content-sec.sec-crr:before{
	content: "";
	position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
	//box-shadow: inset $dark-grey 0px 0px 8px 1px;
	background-color: rgba(255,255,255,1);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 800 800'%0Axmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeGaussianBlur in='SourceAlpha' stdDeviation='2'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency ='0.6' stitchTiles='stitch'%0AnumOctaves='6'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 185px;
    -mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 800 800'%0Axmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeGaussianBlur in='SourceAlpha' stdDeviation='2'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency ='0.6' stitchTiles='stitch'%0AnumOctaves='6'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    -mask-repeat: repeat;
    -mask-size: 185px;
}

.content-sec.sec-dark {
	background-color: $dark-grey;
	border-top: 2px solid $fun-green;
}

.content-sec.sec-dark a, .content-sec.sec-dark {
	color: $almost-white;
}

.content-sec.sec-dark a:hover{
	color: #4a4a4a;
}

.sec-container {
	max-width: $main-size;
	margin: 0 auto;
	padding: 0 10px;
}

.sec-container p{
	max-width: $main-size;
	//margin: 0 auto;
	padding: 0 10px;
} 

.content-sec ul.postlist{
	padding: 0px;
	margin:	0px;
}

.content-sec ul li.postlist-li{
	padding: 10px 20px;
	margin:	0px;
	list-style: None;
//	background: rgb(255 255 255 / 47%);
//	border: $dark-grey solid 5px;
  margin: 10px 0px;
}

.activity-type, .activity-content {
	display:inline-block;
	vertical-align: middle;
	margin: 0px;
}

.activity-type {
	width:100px;
}

.activity-dateduration, .activity-title, .activity-location, .activity-content {
	margin: 0px;
	padding:0px;
}

.activity-content {
	  border-left: 2px solid $fun-green;
    padding-left: 10px;
    max-width: $main-size - 200px;
}

	.activity-content-toggle{
		position: relative;
		z-index: 4;
	}
.activity-post-content.cont{
	
	opacity: 100% !important;
	height: initial !important;
	transition:  opacity 0.3s 0.1s linear; 
}

img.project-img{
	display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
	//box-shadow: #48484894 0px 0px 20px 0px;
	filter: drop-shadow(0px 0px 20px rgba(72,72,72,0.6));
}

@media (max-width: $main-size) {
img.project-img{
    max-width: 100%;
}
}

@media (max-width: 800px) {
img.project-img{
    float: none;
    width: 100%;
    padding: 0;
}
}
/* Grid project display */
ul.cool-wrapper {
display: flex;
    align-content: center;
    justify-content: center;
    justify-items: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

li.cool-bloc {
    list-style: none;
    flex-basis: fit-content;
    max-width: 100%;
}

li.cool-bloc a {
	  position: relative;
    display: block;
    padding: 0 3px;
}

li.cool-bloc img{
	//box-shadow: rgba(72, 72, 72, 0.5803921569) 0px 0px 20px 0px;
	filter: drop-shadow(0px 0px 20px rgba(72,72,72,0.6));
    position: relative;
    max-height: 280px;
    max-width: 100%;
}

li.cool-bloc h2{
display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    font-size: 44px;
    color: white;
    width: 100%;
    text-align: center;
    transform: translate(0%, -50%);
    mix-blend-mode: difference;
    text-shadow: 2px 1px 0px $dark-grey;
}

li.cool-bloc:hover h2{
	mix-blend-mode: luminosity;
	transition:
	    mix-blend-mode 2s,
}