<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<script type="text/javascript" src="/assets/js/main.js"></script>
	<title>{{site.title}} | {{page.title}}</title>
	<meta name="description" content="{{site.description}}">
</head>
<header id="header">
	<svg id="cuteline" width="100%" height="250px">
	</svg>
	<div id="title-container">
		
		<a href="{{ site.url }}"><h1 id="title">{{site.title}}</h1></a>
	</div>
	<nav>
	  {% for item in site.data.navigation %}
	    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
	  {% endfor %}
	</nav>
</header>
<body>
	{{content}}
</body>
<footer class="content-sec">
	<div class="sec-container">	
		<div  class="footbloc">
			
		Other Place To Follow my work: </br>
			<ul>
			<li><a target="_blank" href="https://hci.social/@clararigo" >Mastodon</a> </li>
			<li><a target="_blank" href="https://twitter.com/clararigo" >TXter</a> </li>
			<li><a target="_blank" href="https://www.researchgate.net/profile/Clara-Rigaud" >ResearchGate</a> </li>
			<li><a target="_blank" href="https://scholar.google.com/citations?user=OGYV0BsAAAAJ&hl" >Google Scholar</a> </li>
		</ul>
	</div>
	<div class="footbloc">
		<ul>
		<li><a target="_blank" href="" >Home</a> </li>
			{% for item in site.data.navigation %}
		    <li><a href="{{ item.link }}">{{ item.name }}</a>
		  {% endfor %}
		<li><a target="_blank" href="" >Random Pixel Order</a> </li>
		</ul>
	</div>
</div>
	
</footer>
</html>
